=begin
#Practice -> Cloud API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0
Contact: Bifrost@HenryScheinOne.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module SlipstreamClient
  class PaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a payment
    # Creates a payment
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param create_payment_request [CreatePaymentRequest] The details of the payment to create
    # @param [Hash] opts the optional parameters
    # @return [PaymentCreated]
    def create_payment(site_slug, payment_provider, create_payment_request, opts = {})
      data, _status_code, _headers = create_payment_with_http_info(site_slug, payment_provider, create_payment_request, opts)
      data
    end

    # Create a payment
    # Creates a payment
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param create_payment_request [CreatePaymentRequest] The details of the payment to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentCreated, Integer, Hash)>] PaymentCreated data, response status code and response headers
    def create_payment_with_http_info(site_slug, payment_provider, create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.create_payment ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.create_payment"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.create_payment, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.create_payment, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.create_payment"
      end
      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling PaymentsApi.create_payment"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/payment-intents'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentCreated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.create_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#create_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new payment account
    # Create or resume onboarding a new payment account with the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param create_payment_account_request [CreatePaymentAccountRequest] The details of the account to create
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountCreated]
    def create_payment_account(site_slug, payment_provider, create_payment_account_request, opts = {})
      data, _status_code, _headers = create_payment_account_with_http_info(site_slug, payment_provider, create_payment_account_request, opts)
      data
    end

    # Create a new payment account
    # Create or resume onboarding a new payment account with the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param create_payment_account_request [CreatePaymentAccountRequest] The details of the account to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountCreated, Integer, Hash)>] PaymentAccountCreated data, response status code and response headers
    def create_payment_account_with_http_info(site_slug, payment_provider, create_payment_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.create_payment_account ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.create_payment_account"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.create_payment_account, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.create_payment_account, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.create_payment_account"
      end
      # verify the required parameter 'create_payment_account_request' is set
      if @api_client.config.client_side_validation && create_payment_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_account_request' when calling PaymentsApi.create_payment_account"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountCreated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.create_payment_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#create_payment_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Payment Account
    # Delete a payment account for the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_external_account If true, the external account will be deleted from the payment provider. This is only supported for test accounts with certain payment providers (Stripe).
    # @return [PaymentAccountDeleted]
    def delete_payment_account(site_slug, payment_provider, opts = {})
      data, _status_code, _headers = delete_payment_account_with_http_info(site_slug, payment_provider, opts)
      data
    end

    # Delete Payment Account
    # Delete a payment account for the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_external_account If true, the external account will be deleted from the payment provider. This is only supported for test accounts with certain payment providers (Stripe).
    # @return [Array<(PaymentAccountDeleted, Integer, Hash)>] PaymentAccountDeleted data, response status code and response headers
    def delete_payment_account_with_http_info(site_slug, payment_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.delete_payment_account ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.delete_payment_account"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.delete_payment_account, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.delete_payment_account, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.delete_payment_account"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'DeleteExternalAccount'] = opts[:'delete_external_account'] if !opts[:'delete_external_account'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountDeleted'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.delete_payment_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#delete_payment_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Details
    # Gets the details of a payment by ID
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param payment_id [String] The unique identifier of the payment
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_history If true, the response will include the history of the payment
    # @return [PaymentDetails]
    def get_payment(site_slug, payment_provider, payment_id, opts = {})
      data, _status_code, _headers = get_payment_with_http_info(site_slug, payment_provider, payment_id, opts)
      data
    end

    # Get Payment Details
    # Gets the details of a payment by ID
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param payment_id [String] The unique identifier of the payment
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_history If true, the response will include the history of the payment
    # @return [Array<(PaymentDetails, Integer, Hash)>] PaymentDetails data, response status code and response headers
    def get_payment_with_http_info(site_slug, payment_provider, payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.get_payment ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.get_payment"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.get_payment, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.get_payment, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.get_payment"
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling PaymentsApi.get_payment"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/payment-intents/{PaymentId}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s)).sub('{' + 'PaymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeHistory'] = opts[:'include_history'] if !opts[:'include_history'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.get_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#get_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Account Details
    # Gets the details of a site's payment account for the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountDetails]
    def get_payment_account(site_slug, payment_provider, opts = {})
      data, _status_code, _headers = get_payment_account_with_http_info(site_slug, payment_provider, opts)
      data
    end

    # Get Payment Account Details
    # Gets the details of a site&#39;s payment account for the specified payment provider
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountDetails, Integer, Hash)>] PaymentAccountDetails data, response status code and response headers
    def get_payment_account_with_http_info(site_slug, payment_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.get_payment_account ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.get_payment_account"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.get_payment_account, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.get_payment_account, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.get_payment_account"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.get_payment_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#get_payment_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Account OAuth Connect URL
    # Get a link to connect the site account with the payment provider to HSO's payment platform (Stripe Connect)
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountOAuthConnect]
    def get_payment_account_oauth_connect(site_slug, payment_provider, opts = {})
      data, _status_code, _headers = get_payment_account_oauth_connect_with_http_info(site_slug, payment_provider, opts)
      data
    end

    # Get Payment Account OAuth Connect URL
    # Get a link to connect the site account with the payment provider to HSO&#39;s payment platform (Stripe Connect)
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountOAuthConnect, Integer, Hash)>] PaymentAccountOAuthConnect data, response status code and response headers
    def get_payment_account_oauth_connect_with_http_info(site_slug, payment_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.get_payment_account_oauth_connect ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.get_payment_account_oauth_connect"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.get_payment_account_oauth_connect, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.get_payment_account_oauth_connect, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.get_payment_account_oauth_connect"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account/oauth-connect'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountOAuthConnect'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.get_payment_account_oauth_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#get_payment_account_oauth_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link an existing Payment Account to a Site
    # Links an existing payment provider account to the site
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param account_id [String] The identifier for the existing payment account to link
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountLinked]
    def link_payment_account(site_slug, payment_provider, account_id, opts = {})
      data, _status_code, _headers = link_payment_account_with_http_info(site_slug, payment_provider, account_id, opts)
      data
    end

    # Link an existing Payment Account to a Site
    # Links an existing payment provider account to the site
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param account_id [String] The identifier for the existing payment account to link
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountLinked, Integer, Hash)>] PaymentAccountLinked data, response status code and response headers
    def link_payment_account_with_http_info(site_slug, payment_provider, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.link_payment_account ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.link_payment_account"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.link_payment_account, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.link_payment_account, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.link_payment_account"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PaymentsApi.link_payment_account"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account/{AccountId}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s)).sub('{' + 'AccountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountLinked'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.link_payment_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#link_payment_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List payment provider accounts
    # List all payment provider accounts for the site
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<PaymentAccountDetails>]
    def list_payment_accounts(site_slug, opts = {})
      data, _status_code, _headers = list_payment_accounts_with_http_info(site_slug, opts)
      data
    end

    # List payment provider accounts
    # List all payment provider accounts for the site
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PaymentAccountDetails>, Integer, Hash)>] Array<PaymentAccountDetails> data, response status code and response headers
    def list_payment_accounts_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.list_payment_accounts ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.list_payment_accounts"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.list_payment_accounts, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.list_payment_accounts, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/accounts'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PaymentAccountDetails>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.list_payment_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#list_payment_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deauthorise Payment Account via OAuth
    # Deauthorise the payment account's access to HSO's payment platform (Stripe Connect)
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountOAuthDeauthorise]
    def post_payment_account_oauth_deauthorise(site_slug, payment_provider, opts = {})
      data, _status_code, _headers = post_payment_account_oauth_deauthorise_with_http_info(site_slug, payment_provider, opts)
      data
    end

    # Deauthorise Payment Account via OAuth
    # Deauthorise the payment account&#39;s access to HSO&#39;s payment platform (Stripe Connect)
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param payment_provider [PaymentProvider] The payment provider
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountOAuthDeauthorise, Integer, Hash)>] PaymentAccountOAuthDeauthorise data, response status code and response headers
    def post_payment_account_oauth_deauthorise_with_http_info(site_slug, payment_provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.post_payment_account_oauth_deauthorise ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling PaymentsApi.post_payment_account_oauth_deauthorise"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling PaymentsApi.post_payment_account_oauth_deauthorise, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling PaymentsApi.post_payment_account_oauth_deauthorise, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_provider' is set
      if @api_client.config.client_side_validation && payment_provider.nil?
        fail ArgumentError, "Missing the required parameter 'payment_provider' when calling PaymentsApi.post_payment_account_oauth_deauthorise"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/payments/{PaymentProvider}/account/oauth-deauthorise'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'PaymentProvider' + '}', CGI.escape(payment_provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountOAuthDeauthorise'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.post_payment_account_oauth_deauthorise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#post_payment_account_oauth_deauthorise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
