=begin
#Practice -> Cloud API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0
Contact: Bifrost@HenryScheinOne.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module SlipstreamClient
  class SiteDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add capability
    # Adds a single capability to the list of functionality that the practice site supports. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_practice_site_capability(site_slug, capability, opts = {})
      add_practice_site_capability_with_http_info(site_slug, capability, opts)
      nil
    end

    # Add capability
    # Adds a single capability to the list of functionality that the practice site supports. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_practice_site_capability_with_http_info(site_slug, capability, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.add_practice_site_capability ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.add_practice_site_capability"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.add_practice_site_capability, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.add_practice_site_capability, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'capability' is set
      if @api_client.config.client_side_validation && capability.nil?
        fail ArgumentError, "Missing the required parameter 'capability' when calling SiteDetailsApi.add_practice_site_capability"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/capabilities/{capability}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'capability' + '}', CGI.escape(capability.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.add_practice_site_capability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#add_practice_site_capability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete practice site logo file
    # Deletes the logo file of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_practice_site_logo(site_slug, opts = {})
      delete_practice_site_logo_with_http_info(site_slug, opts)
      nil
    end

    # Delete practice site logo file
    # Deletes the logo file of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_practice_site_logo_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.delete_practice_site_logo ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.delete_practice_site_logo"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.delete_practice_site_logo, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.delete_practice_site_logo, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/logo'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.delete_practice_site_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#delete_practice_site_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete practice site privacy policy document
    # Deletes the privacy policy document of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_practice_site_privacy_policy(site_slug, opts = {})
      delete_practice_site_privacy_policy_with_http_info(site_slug, opts)
      nil
    end

    # Delete practice site privacy policy document
    # Deletes the privacy policy document of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_practice_site_privacy_policy_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.delete_practice_site_privacy_policy ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.delete_practice_site_privacy_policy"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.delete_practice_site_privacy_policy, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.delete_practice_site_privacy_policy, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/privacy-policy'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.delete_practice_site_privacy_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#delete_practice_site_privacy_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get practice site details
    # Fetches the full details of a practice site in the slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [PracticeSiteDetails]
    def get_practice_site_details(site_slug, opts = {})
      data, _status_code, _headers = get_practice_site_details_with_http_info(site_slug, opts)
      data
    end

    # Get practice site details
    # Fetches the full details of a practice site in the slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<(PracticeSiteDetails, Integer, Hash)>] PracticeSiteDetails data, response status code and response headers
    def get_practice_site_details_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.get_practice_site_details ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.get_practice_site_details"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.get_practice_site_details, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.get_practice_site_details, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PracticeSiteDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.get_practice_site_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#get_practice_site_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List capabilities
    # Fetches the list of functionality that a practice site (and the software it is using) supports. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [CapabilitiesListResponse]
    def list_practice_site_capabilities(site_slug, opts = {})
      data, _status_code, _headers = list_practice_site_capabilities_with_http_info(site_slug, opts)
      data
    end

    # List capabilities
    # Fetches the list of functionality that a practice site (and the software it is using) supports. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilitiesListResponse, Integer, Hash)>] CapabilitiesListResponse data, response status code and response headers
    def list_practice_site_capabilities_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.list_practice_site_capabilities ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.list_practice_site_capabilities"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.list_practice_site_capabilities, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.list_practice_site_capabilities, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/capabilities'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilitiesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.list_practice_site_capabilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#list_practice_site_capabilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check capability
    # Checks if the practice supports a capability. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [Boolean]
    def practice_site_has_capability(site_slug, capability, opts = {})
      data, _status_code, _headers = practice_site_has_capability_with_http_info(site_slug, capability, opts)
      data
    end

    # Check capability
    # Checks if the practice supports a capability. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Boolean, Integer, Hash)>] Boolean data, response status code and response headers
    def practice_site_has_capability_with_http_info(site_slug, capability, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.practice_site_has_capability ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.practice_site_has_capability"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.practice_site_has_capability, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.practice_site_has_capability, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'capability' is set
      if @api_client.config.client_side_validation && capability.nil?
        fail ArgumentError, "Missing the required parameter 'capability' when calling SiteDetailsApi.practice_site_has_capability"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/capabilities/{capability}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'capability' + '}', CGI.escape(capability.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Boolean'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.practice_site_has_capability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#practice_site_has_capability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove capability
    # Removes a capability from a practice. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_practice_site_capability(site_slug, capability, opts = {})
      remove_practice_site_capability_with_http_info(site_slug, capability, opts)
      nil
    end

    # Remove capability
    # Removes a capability from a practice. See [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param capability [Capability] The capability to add to the practice, see [Capabilities](#section/Getting-started/Capabilities) for more details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_practice_site_capability_with_http_info(site_slug, capability, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.remove_practice_site_capability ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.remove_practice_site_capability"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.remove_practice_site_capability, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.remove_practice_site_capability, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'capability' is set
      if @api_client.config.client_side_validation && capability.nil?
        fail ArgumentError, "Missing the required parameter 'capability' when calling SiteDetailsApi.remove_practice_site_capability"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}/capabilities/{capability}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s)).sub('{' + 'capability' + '}', CGI.escape(capability.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.remove_practice_site_capability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#remove_practice_site_capability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update practice site details
    # Updates the details of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param update_practice_site_details_request [UpdatePracticeSiteDetailsRequest] The details of the practice site to onboard
    # @param [Hash] opts the optional parameters
    # @return [PracticeSiteIdentity]
    def update_practice_site(site_slug, update_practice_site_details_request, opts = {})
      data, _status_code, _headers = update_practice_site_with_http_info(site_slug, update_practice_site_details_request, opts)
      data
    end

    # Update practice site details
    # Updates the details of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param update_practice_site_details_request [UpdatePracticeSiteDetailsRequest] The details of the practice site to onboard
    # @param [Hash] opts the optional parameters
    # @return [Array<(PracticeSiteIdentity, Integer, Hash)>] PracticeSiteIdentity data, response status code and response headers
    def update_practice_site_with_http_info(site_slug, update_practice_site_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.update_practice_site ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.update_practice_site"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.update_practice_site, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.update_practice_site, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_practice_site_details_request' is set
      if @api_client.config.client_side_validation && update_practice_site_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_practice_site_details_request' when calling SiteDetailsApi.update_practice_site"
      end
      # resource path
      local_var_path = '/sites/{SiteSlug}'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_practice_site_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PracticeSiteIdentity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.update_practice_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#update_practice_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update practice site logo
    # Updates the logo of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file Logo file for the practice
    # @return [PracticeFileUploaded]
    def update_practice_site_logo(site_slug, opts = {})
      data, _status_code, _headers = update_practice_site_logo_with_http_info(site_slug, opts)
      data
    end

    # Update practice site logo
    # Updates the logo of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file Logo file for the practice
    # @return [Array<(PracticeFileUploaded, Integer, Hash)>] PracticeFileUploaded data, response status code and response headers
    def update_practice_site_logo_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.update_practice_site_logo ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.update_practice_site_logo"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.update_practice_site_logo, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.update_practice_site_logo, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/logo'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PracticeFileUploaded'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.update_practice_site_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#update_practice_site_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update practice site privacy policy
    # Updates the privacy policy of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file Privacy policy document for the practice
    # @return [PracticeFileUploaded]
    def update_practice_site_privacy_policy(site_slug, opts = {})
      data, _status_code, _headers = update_practice_site_privacy_policy_with_http_info(site_slug, opts)
      data
    end

    # Update practice site privacy policy
    # Updates the privacy policy of a practice site in the Slipstream practice registry
    # @param site_slug [String] The Slipstream [slug](https://sqids.org/) that uniquely identifies a physical practice
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file Privacy policy document for the practice
    # @return [Array<(PracticeFileUploaded, Integer, Hash)>] PracticeFileUploaded data, response status code and response headers
    def update_practice_site_privacy_policy_with_http_info(site_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteDetailsApi.update_practice_site_privacy_policy ...'
      end
      # verify the required parameter 'site_slug' is set
      if @api_client.config.client_side_validation && site_slug.nil?
        fail ArgumentError, "Missing the required parameter 'site_slug' when calling SiteDetailsApi.update_practice_site_privacy_policy"
      end
      if @api_client.config.client_side_validation && site_slug.to_s.length > 20
        fail ArgumentError, 'invalid value for "site_slug" when calling SiteDetailsApi.update_practice_site_privacy_policy, the character length must be smaller than or equal to 20.'
      end

      pattern = Regexp.new(/^[osl][a-zA-Z0-9]{3,}$/)
      if @api_client.config.client_side_validation && site_slug !~ pattern
        fail ArgumentError, "invalid value for 'site_slug' when calling SiteDetailsApi.update_practice_site_privacy_policy, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/sites/{SiteSlug}/privacy-policy'.sub('{' + 'SiteSlug' + '}', CGI.escape(site_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PracticeFileUploaded'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'azure_auth', 'azure_auth']

      new_options = opts.merge(
        :operation => :"SiteDetailsApi.update_practice_site_privacy_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteDetailsApi#update_practice_site_privacy_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
